@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-Italic.otf');
	font-style: italic;
	font-weight: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-Bold.otf');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-BoldItalic.otf');
	font-weight: bold;
	font-style: italic;
}

* {
   font-family: "opendyslexic" !important;
}

body {
	font-size: 22px;
	line-height: 200%;
	background: snow;
	margin: auto 9;
	padding: 0 100;
	color: #1A0033; 
}

h1, h2, h3, h4, .highlight {
	font-style: bold;
	color: black;
}
.highlight, .symbolPop {
	font-size: 125%;
}

p:nth-child(even), li:nth-child(even) {
	background-color: rgba(0,0,0, 0.03);
}

p:hover, li:hover {
  background-color: rgba(0,0,0, 0.5) !important;

}

h1 {
  font-size: 46px;
  font-weight: normal;
}

h2 {
  font-size: 37px;
  font-weight: 300;
}

p {
  font-size: 23px;
  color: rgb(6, 6, 49);
}

.footer {
  text-align: right;
} 